.data{
    display:flex;
margin-top:20px;
      flex-wrap: wrap;
    justify-content:center;
    }
    .image_data{

        width:306px;
        margin-left:10px;
        margin-bottom:10px;
    }
.image_data img{
    width:300px;
    height:300px;
}
.button button{
    margin-top:20px;}
     

#heading{
    background-color: rgb(195, 236, 222);
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 400px;
    width: 100%;
    justify-content: center;
}



